<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/website.css" media="screen" />
</head>

<title>My Project</title>

<body>
<h1><center>Let's Talk Art History</center></h1>

<p>    Welcome! This project will hold data about famous artists,
a selection of their works, their artistic movement and time period the artist was popular.
The user will be able to search each of these characteristics. I chose to make a project about art history as art work invites social commentary and robust conversation.
Creative expression is really important to me and I want to share that.</p>



<!--<p th:unless="${artists} and ${artists.size()}">no artist found</p>-->
<a href="/art/add">Add Your Favorite Artist</a>


<ul>
    <li th:each="artist : ${artists}" th:text="${artist.name}"></li>
</ul>

</body>
</html>